<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        {{#each icons}}
        <tr>
            <td>{{.}}</td>
            <td><varaus-icon icon="{{.}}"></varaus-icon></td>
        </tr>
        {{/each}}
    </tbody>
</table>
