<div>
    <h3>Simple button</h3>
    <varaus-button>Simple</varaus-button>
</div>

<div>
    <h3>Button with icon</h3>
    <varaus-button icon="signOut">Sign Out</varaus-button>
</div>

<div>
    <h3>Button with spinner</h3>
    <varaus-button icon="spinner">Sign Out</varaus-button>
</div>