:host {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  font-family: var(--varaus-font-family);
}

.form-head h3 {
  font-size: var(--varaus-text-xl);
}

.form-head svg {
  color: var(--varaus-primary-color);
  height: 100px;
  width: 100px;
}

.form-head {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 1.2rem;
}

.form-foot {
  text-align: center;
  padding-top: .8rem;
}

.login-action-row {
  text-align: center;
  padding-top: .8rem;
}

varaus-button {
  display: inline-block;
}

.some-button {
  position: relative;
  border: 1px solid var(--varaus-light-grey);
  background-color: white;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.some-button svg {
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fb {
  background-color: #4267b2;
}
.fb:hover {
  background-color: #2955ad;
}
.google:hover {
  background-color: #f8f8f8;
}

hr {
  color: var(--varaus-light-grey);
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

p {
  margin-block-start: .5rem;
  margin-block-end: .5rem;
  font-size: var(--varaus-text-sm);
  line-height: 1.1rem;
}