:host {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-row {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-wrap:hover {
  border: 1px solid var(--varaus-secondary-shade);
}

.input-wrap:hover svg {
  background-color: var(--varaus-secondary-shade);
}

.input-wrap:focus-within {
  border: 1px solid var(--varaus-secondary-shade);
}

.input-wrap:focus-within svg {
  background-color: var(--varaus-secondary-shade);
}

.input-wrap {
  transition: .3s;
  position: relative;
  display: flex;
  width: 100%;
  border-radius: .2rem;
  border: 1px solid var(--varaus-secondary-color);
}

.input-wrap svg {
  transition: .3s;
  padding: .3rem;
  width: 2rem;
  color: white;
  background-color: var(--varaus-secondary-color);
  height: 100%;
}

label {
  display: block;
  font-size: var(--varaus-text-sm);
  font-weight: 400;
  letter-spacing: .05rem;
  margin-bottom: .3rem;
}

input {
  letter-spacing: .03rem;
  width: 100%;
  outline: none;
  border: none;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: .4rem;
  border-radius: .2rem;
}

.error {
  /* padding-left: 2.4rem; */
  color: var(--varaus-red);
  letter-spacing: .03rem;
  font-size: var(--varaus-text-xs);
}