<h3>Normal</h3>

<varaus-form-field
    icon="at"
    label="Email"
    placeholder="user@example.com"
    name="email"
    type="text"
>
</varaus-form-field>

<h3>No Icon</h3>

<varaus-form-field
    label="Email"
    placeholder="user@example.com"
    name="email"
    type="text"
>
</varaus-form-field>

<h3>Validation Error</h3>

<varaus-form-field
    icon="at"
    label="Email"
    placeholder="user@example.com"
    name="email"
    type="text"
    value="foo#example.com"
    validation-error="Invalid email address"
>
</varaus-form-field>

<h3>Password</h3>

<varaus-form-field
    icon="unlock"
    label="Password"
    name="password"
    type="password"
>
</varaus-form-field>